*.root

UniverseMaker/univmake
NTupleProcessing/ProcessNTuples
NTupleProcessing/CalculateEfficiency
NTupleProcessing/EventCounter

Plotting/mySlicePlotting

Unfolding/Unfolder
Unfolding/Validation
Unfolding/MakeMigrationMatrix

.DS_Store
stv_root_dict_rdict.pcm
*.o
*~